body{
    font-family: system-ui;
    background: #424752;
    color: white;
    text-align: center;
}
a{
    color: white;
}
canvas{
    width:1000px;
    height:300px;
    border: 1px solid white;
  }